# Local configuration
local.properties

# Gradle
.gradle/
build/
gradle-app.setting
.gradletasknamecache
.kotlin/

# IntelliJ
**/.idea/**
!**/.idea/codeStyleSettings.xml
!**/.idea/codeStyles
!**/.idea/codeStyles/Project.xml
!**/.idea/codeStyles/codeStyleConfig.xml
!**/.idea/ktfmt.xml
!**/.idea/externalDependencies.xml
*.iml

# Python
*.pyc

# Android studio's layout inspector captures
captures/

# A file created when launching android emulators
read-snapshot.txt

# MacOs
.DS_Store
